extends layout
block content
    .content: .form-wrapper: form: .input-group
                    .input-row
                        label Full name
                        input(type="text", placeholder="someone")
                    .input-row
                        label Email
                        input(type="email", placeholder="someone@mail.com")
                    .input-row
                        label Username
                        input(type="text", placeholder="goRatchet")
                a.button-block Save changes

  //script(src = '/js/fangcan.js')
]k