extends layout
block content
    .content: .list
            li.list-divider Theaters nearby
            li: a(href='choose-movie.html',  data-transition="slide-in")
                    strong Metreon 16
                    p 1.3 miles away
                    span.chevron
            li: a(href='choose-movie.html',  data-transition="slide-in")
                    strong Metreon 16
                    p 1.3 miles away
                    span.chevron
            li: a(href='choose-movie.html',  data-transition="slide-in")
                    strong Metreon 16
                    p 1.3 miles away
                    span.chevron

  //script(src = '/js/fangcan.js')
